BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
IncludeBlocks: Preserve
NamespaceIndentation: All
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
